<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.qjm253.quick_android_qrcode">
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
    >
        <activity android:name="cn.qjm253.quick_android_qrcode.activity.QuickAndroidQrCodeActivity">
        </activity>
    </application>
</manifest>
